/**
 * @name Noircord
 * @author Johann-FullHD
 * @version 1
 * @description The typical discord theme, but darker
 * @source https://github.com/Johann-FullHD/Noircord
 */

@import url();

/* Variables */
:root {
    --avatar-size: 32px;
    --background: url('https://cdn.pixabay.com/video/2024/03/11/203759-922186910_large.mp4');
    --home-image: url('https://i.imgur.com/QuYOSOV.gif');
    --background-solid: #0e1013;
    --background-solid-dark: #14161b;
    --background-solid-darker: #0c0d0f;
    --accent: 37, 172, 232;
    --accent-alt: 29, 101, 134;
}
